body {
  background-color: #F57242;
  font-family: sans-serif;
  color: #8B0000;
}

.title {
  font-size: 6rem;
  text-align: center;
}

#game-over {
  font-size: 2rem;
  text-align: center;
}

.play-btn {
  display: inline-block;
  padding: 0.75rem 9rem;
  background-color: #8B0000;
  border-bottom: 1px solid white;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}

.restart-btn-cont {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 1rem;
  z-index: 0;
}

.restart-btn {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}

.display-none {
  display: none !important;
}

#grid-cont {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

#grid {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: #8B0000;
  border: 1px solid white;
  box-sizing: border-box;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 1px solid white;
  box-sizing: border-box;
  color: black;
  font-size: 2rem;
  z-index: 1;
  transition: 0.23s all;
}

.cell-c0 {
  left: 0rem;
}

.cell-c1 {
  left: 5rem;
}

.cell-c2 {
  left: 10rem;
}

.cell-c3 {
  left: 15rem;
}

.cell-r0 {
  top: 0rem;
}

.cell-r1 {
  top: 5rem;
}

.cell-r2 {
  top: 10rem;
}

.cell-r3 {
  top: 15rem;
}

.cell-2 {
  background-color: #ffc58f;
}

.cell-4 {
  background-color: #ffce00;
}

.cell-8 {
  background-color: #ffa700;
}

.cell-16 {
  background-color: #ec5a00;
}

.cell-32 {
  background-color: #d05f00;
}

.cell-64 {
  background-color: #8f5600;
}

.cell-128 {
  background-color: #da1f00;
}

.cell-256 {
  background-color: #cc5566;
}

.cell-512 {
  background-color: #ff8877;
}

.cell-1024 {
  background-color: #ff4466;
}

.cell-2048 {
  background-color: #cc88ee;
}

.cell-4096 {
  background-color: #77ccff;
}

.cell-8192 {
  background-color: #00aaff;
}

.cell-16384 {
  background-color: #0066cc;
}

.cell-32768 {
  background-color: #007755;
}

.scale33p {
  transform: scale(0.33);
}

.scale100p {
  transform: scale(1);
}

.zindex-1 {
  z-index: -1;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

html {
  font-size: 11px;
}

@media only screen and (min-width: 380px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 420px) {
  html {
    font-size: 16px;
  }
}
